<?xml version="1.0"?>
<configuration>
  <connectionStrings/>
  <appSettings>
    <!-- Y/N 是否寫入錯誤訊息文字檔 -->
    <add key="writeErrorLog" value="N"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="default.aspx" defaultUrl="~/default.aspx" protection="All" timeout="5" path="/" cookieless="UseCookies" cookieSameSite="Lax" requireSSL="true" slidingExpiration="true" enableCrossAppRedirects="false" ticketCompatibilityMode="Framework40"/>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="" redirectMode="ResponseRewrite"/>
    <compilation debug="false" defaultLanguage="c#" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <globalization culture="auto" uiCulture="auto" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true"/>
    <httpRuntime executionTimeout="60" enableHeaderChecking="true" enableVersionHeader="false" targetFramework="4.8"/>
    <machineKey validation="SHA1" compatibilityMode="Framework45"/>
    <pages enableEventValidation="true" enableViewStateMac="true" viewStateEncryptionMode="Auto" controlRenderingCompatibilityVersion="4.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="Util"/>
      </namespaces>
      <controls>
        <add tagPrefix="ctl" namespace="Util.WebControls" assembly="CollectionPager"/>
      </controls>
    </pages>
    <sessionState mode="InProc" cookieless="false" timeout="30" cookieSameSite="Lax" useHostingIdentity="false"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <httpProtocol>
      <!--設定網站服務器以指定預設兼容性模式 -->
      <customHeaders>
        <clear/>
        <!--移除標題的資訊 -->
        <remove name="Server"/>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <!-- html5 設定網頁編碼  -->
        <add name="charset" value="utf-8"/>
        <!-- 設置文檔的字符編碼 -->
        <add name="Cache-control" value="no-cache, no-store, must-revalidate"/>
        <!-- 網頁內容的種類以及編碼 -->
        <add name="Content-Type" value="text/html; charset=utf-8"/>
        <!-- 禁止瀏覽器用快取開啟網頁 -->
        <add name="pragma" value="no-cache"/>
        <!-- IE可能不見得有效 -->
        <add name="Expires" value="0"/>
        <!--HSTS 用途：除了 Rewrite URL, Redirect URL 外，直接藉由 Http Header 的方式要求使用者瀏覽器採用 Https 的方式訪問網站。-->
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
        <!--Public-Key-Pins-->
        <add name="Public-Key-Pins" value="pin-sha256=&quot;base64+primary==&quot;; pin-sha256=&quot;base64+backup==&quot;; max-age=5184000; includeSubDomains"/>
        <!-- X-XSS-Protection 用來防止跨站腳本攻擊-->
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <!--用來防止內容類型錯誤偽造-->
        <add name="X-Content-Type-Options" value="nosniff"/>
        <!-- IE 相容性模式 -->
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1"/>
        <!--DENY or SAMEORIGIN 用來防止跨網域框架攻擊-->
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <!--用來防止內容類型錯誤偽造-->
        <add name="Feature-Policy" value="camera 'none'"/>
        <!--來控制網站可以從何處獲取參考信息 No-referrer-when-downgrade,Origin,no-referrer-->
        <add name="Referrer-Policy" value="no-referrer"/>
        <!--避免執行執行了程式而且沒有在下載-->
        <add name="X-Download-Options" value="noopen"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" httpExpires="-1"/>
      <!--移除附檔名dll，避免被下載-->
      <remove fileExtension=".bat"/>
      <remove fileExtension=".config"/>
      <remove fileExtension=".dll"/>
      <remove fileExtension=".exe"/>
      <remove fileExtension=".ini"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>