<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings />
    
    <appSettings>
        <!-- Y/N 是否寫入錯誤訊息文字檔 -->
        <add key="writeErrorLog" value="N" />
        <!--<add key="DOCLocation" value="D:\docSI\temp\DOC\"/>-->
        <!--<add key="TempFilePath" value="D:\docSI\temp\"/>-->
    </appSettings>

    <system.web>
        <authentication mode="Forms">
            <forms name=".ASPXAUTH" loginUrl="default.aspx" defaultUrl="~/default.aspx" protection="All" timeout="1440" path="/" cookieless="UseCookies" cookieSameSite="Lax" requireSSL="false" slidingExpiration="true" enableCrossAppRedirects="false" ticketCompatibilityMode="Framework40" />
        </authentication>
        <authorization>
            <allow users="?" />
        </authorization>
        
        <customErrors mode="RemoteOnly" defaultRedirect="" redirectMode="ResponseRewrite" />
        
        <compilation debug="true" defaultLanguage="c#" targetFramework="4.8">
            <assemblies>
                <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                
                <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
            </assemblies>
        </compilation>

        <globalization culture="auto" uiCulture="auto" requestEncoding="utf-8" responseEncoding="utf-8" />

        <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
        
        <httpRuntime executionTimeout="1600" enableHeaderChecking="true" enableVersionHeader="false" targetFramework="4.8" />

        <machineKey validation="SHA1" compatibilityMode="Framework45" />

        <pages enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="4.5" clientIDMode="AutoID">
            <namespaces>
                <add namespace="Util" />
            </namespaces>
            <controls>
                <add tagPrefix="ctl" namespace="Util.WebControls" assembly="CollectionPager" />
            </controls>
        </pages>

        <sessionState mode="InProc" cookieless="false" timeout="30" cookieSameSite="Lax" useHostingIdentity="false" />
        
    </system.web>
    
    <system.webServer>
        <directoryBrowse enabled="false" />
        
        <staticContent>
            <clientCache cacheControlMode="DisableCache" httpExpires="-1" />
            <!--移除附檔名dll，避免被下載-->
            <remove fileExtension=".bat" />
            <remove fileExtension=".config" />
            <remove fileExtension=".dll" />
            <remove fileExtension=".exe" />
            <remove fileExtension=".ini" />
        </staticContent>
        
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
</configuration>